<article class="flex flex-col items-center justify-center">
  <div class="text-pretty mb-4">
    <p class="mb-4">
      Me llamo Christopher, tengo 18 años y soy de Canarias, España. Me encanta enfocarme en la parte del rendimiento, para ofrecer la mejora experiencia al usuario.
    </p>
    <p class="mb-4">
      Entre mis logros, destaco que durante el Grado Superior ayudé a mis compañeros a profundizar en el aprendizaje sobre bases de datos. Creo firmemente en su relevancia y disfruto compartiendo mi conocimiento al respecto. 
    </p>
    <p class="mb-4">
      Poseo experiencia en la gestión de proyectos colaborativos y hago proyectos con el objetivo de ofrecer soluciones prácticas y atractivas para mejorar la experiencia del usuario en diversas áreas
    </p>
  </div>
</article>