<section class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div class="[&>p]:mb-4 text-pretty order-2 md:order-1">
    <p>
      Me llamo Christopher, aunque me dicen CJ. Me encanta enfocarme en la parte del diseño, para ofrecer la mejor experiencia al usuario.
    </p>
    <p>
      Entre mis logros, destaco que durante el Grado Superior ayudé a mis compañeros a profundizar en el aprendizaje sobre bases de datos. Creo firmemente en su relevancia y disfruto compartiendo mi conocimiento al respecto. 
    </p>
    <p>
      Poseo experiencia en la gestión de proyectos colaborativos y los hago con el objetivo de ofrecer soluciones prácticas y atractivas para mejorar la experiencia del usuario en diversas áreas.
    </p>
  </div>
</section>