---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
  {
    date: "Abril 2023 - Junio 2023",
    title: "Técnico de Sistemas",
    company: "COFLP",
    description:
      "Proporcioné soporte técnico, realicé mantenimiento de sistemas, gestioné redes, administré equipos y resolví problemas técnicos de manera presencial y remota.",
  }
]
---


<ol class="relative mt-16">
  {
    EXPERIENCE.map(experience => 
    <li class="mb-10 ms-4 mt-8">
      <ExperienceItem {...experience} />  
    </li>
    )
  }             
  
</ol>

