---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
  {
    date: "Abril 2023 - Junio 2023",
    title: "Técnico de Sistemas - COFLP",
    description:
      "Proveí soporte técnico, realicé mantenimiento de sistemas, gestioné redes, administré equipos y resolví problemas técnicos de manera remota y presencial.",
    link: "https://twitch.tv/midudev",
  }
]
---


<ol class="relative border-s border-gray-200 ml-3">     
  {
    EXPERIENCE.map(experience => 
    <li class="mb-10 ms-4 mt-8">
      <ExperienceItem {...experience} />  
    </li>
    )
  }             
  
</ol>

