---
import ExperienceItem from "./ExperienceItem.astro"

import { getI18N } from "@/i18n"

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
const EXPERIENCE = [
  {
    date: i18n.EXPERIENCIE.EXPERIENCE_1.DATE,
    title: i18n.EXPERIENCIE.EXPERIENCE_1.JOB,
    company: i18n.EXPERIENCIE.EXPERIENCE_1.COMPANY,
    description: i18n.EXPERIENCIE.EXPERIENCE_1.DESCRIPTION,
  },
  {
    date: i18n.EXPERIENCIE.EXPERIENCIE_2.DATE,
    title: i18n.EXPERIENCIE.EXPERIENCIE_2.JOB,
    company: i18n.EXPERIENCIE.EXPERIENCIE_2.COMPANY,
    description: i18n.EXPERIENCIE.EXPERIENCIE_2.DESCRIPTION,
  },
  {
    date: i18n.EXPERIENCIE.EXPERIENCIE_3.DATE,
    title: i18n.EXPERIENCIE.EXPERIENCIE_3.JOB,
    company: i18n.EXPERIENCIE.EXPERIENCIE_3.COMPANY,
    description: i18n.EXPERIENCIE.EXPERIENCIE_3.DESCRIPTION,
  }

]
---


<ol class="relative mt-16">
  {
    EXPERIENCE.map(experience => 
    <li class="mb-10 ms-4 mt-8">
      <ExperienceItem {...experience} />  
    </li>
    )
  }             
  
</ol>

