---
import ExperienceItem from "./ExperienceItem.astro"

import { getI18N } from "@/i18n"

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
const EXPERIENCE = [
  {
    date: i18n.EXPERIENCIE.DATE,
    title: i18n.EXPERIENCIE.JOB,
    company: i18n.EXPERIENCIE.COMPANY,
    description: i18n.EXPERIENCIE.DESCRIPTION,
  }
]
---


<ol class="relative mt-16">
  {
    EXPERIENCE.map(experience => 
    <li class="mb-10 ms-4 mt-8">
      <ExperienceItem {...experience} />  
    </li>
    )
  }             
  
</ol>

